header {
    height: 70px;
    width: 100%;
    /* background-color: white by chrome default */
    border-bottom: 1px solid #CCCCCC;
}
.logo {
    background: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: 20px;
}
